<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated StateMachine -->
      <package
            uri="se.studieren.mdd.transformer.StateMachine"
            class="StateMachine.StateMachinePackage"
            genModel="model/05_StateMachine/StateMachine.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated IOAutomaton -->
      <package
            uri="se.studieren.mdd.transformer.IOAutomaton"
            class="IOAutomaton.IOAutomatonPackage"
            genModel="model/04_IOAutomaton/IOAutomaton.genmodel"/>
   </extension>

</plugin>
